<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>A.001</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>O.001</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>E.001</string>
		<string>E.002</string>
		<string>E.003</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>M</string>
		<string>N</string>
		<string>H.001</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>r</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>K.001</string>
		<string>K.002</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>L.001</string>
		<string>L.002</string>
		<string>L.003</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>R.001</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
	</array>
	<key>@MMK_L_at</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>p</string>
	</array>
	<key>@MMK_L_backslash</key>
	<array>
		<string>backslash</string>
		<string>exclam</string>
		<string>slash</string>
		<string>underscore</string>
		<string>exclam.001</string>
		<string>braceleft</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
		<string>space</string>
		<string>bar</string>
	</array>
	<key>@MMK_L_braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>c.001</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
	</array>
	<key>@MMK_L_eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_L_four</key>
	<array>
		<string>four</string>
		<string>four.001</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_L_guillemotright</key>
	<array>
		<string>guillemetright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>@MMK_L_one</key>
	<array>
		<string>one</string>
		<string>one.001</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_L_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_L_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_L_six</key>
	<array>
		<string>six</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_L_three</key>
	<array>
		<string>three</string>
		<string>three.001</string>
	</array>
	<key>@MMK_L_two</key>
	<array>
		<string>two</string>
		<string>two.001</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_L_zero</key>
	<array>
		<string>zero</string>
		<string>zero.001</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>A.001</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>O.001</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
	</array>
	<key>@MMK_R_backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>e</string>
		<string>o</string>
		<string>q</string>
		<string>c.001</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_R_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_R_four</key>
	<array>
		<string>four</string>
		<string>four.001</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>r</string>
	</array>
	<key>@MMK_R_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>@MMK_R_one</key>
	<array>
		<string>one</string>
		<string>one.001</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_R_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_R_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_R_six</key>
	<array>
		<string>six</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_three</key>
	<array>
		<string>three</string>
		<string>three.001</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_R_zero</key>
	<array>
		<string>zero</string>
		<string>zero.001</string>
	</array>
</dict>
</plist>
