<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-65</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-27</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-27</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_colon</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_colon</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-76</integer>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
		<key>@MMK_R_colon</key>
		<integer>-120</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_j</key>
		<integer>-40</integer>
		<key>@MMK_R_m</key>
		<integer>-60</integer>
		<key>@MMK_R_slash</key>
		<integer>-60</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_f</key>
		<integer>30</integer>
		<key>@MMK_R_t</key>
		<integer>30</integer>
		<key>l</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-34</integer>
		<key>@MMK_R_w</key>
		<integer>-27</integer>
		<key>@MMK_R_y</key>
		<integer>-31</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-40</integer>
		<key>@MMK_R_J</key>
		<integer>40</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-85</integer>
		<key>@MMK_R_W</key>
		<integer>-55</integer>
		<key>@MMK_R_Y</key>
		<integer>-108</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_colon</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_C</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_colon</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-75</integer>
		<key>@MMK_R_C</key>
		<integer>-40</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_S</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-76</integer>
		<key>@MMK_R_c</key>
		<integer>-105</integer>
		<key>@MMK_R_colon</key>
		<integer>-110</integer>
		<key>@MMK_R_i</key>
		<integer>-40</integer>
		<key>@MMK_R_m</key>
		<integer>-56</integer>
		<key>@MMK_R_u</key>
		<integer>-76</integer>
		<key>@MMK_R_w</key>
		<integer>-80</integer>
		<key>@MMK_R_y</key>
		<integer>-86</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-14</integer>
		<key>@MMK_R_colon</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-57</integer>
		<key>@MMK_R_C</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-56</integer>
		<key>@MMK_R_c</key>
		<integer>-56</integer>
		<key>@MMK_R_colon</key>
		<integer>-100</integer>
		<key>@MMK_R_m</key>
		<integer>-36</integer>
		<key>@MMK_R_u</key>
		<integer>-36</integer>
		<key>@MMK_R_y</key>
		<integer>-13</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_colon</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_m</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-56</integer>
		<key>@MMK_R_C</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-85</integer>
		<key>@MMK_R_c</key>
		<integer>-90</integer>
		<key>@MMK_R_colon</key>
		<integer>-130</integer>
		<key>@MMK_R_g</key>
		<integer>-90</integer>
		<key>@MMK_R_j</key>
		<integer>-30</integer>
		<key>@MMK_R_m</key>
		<integer>-61</integer>
		<key>@MMK_R_p</key>
		<integer>-90</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_w</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-85</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_at</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_colon</key>
		<integer>-20</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_backslash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_colon</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_j</key>
		<integer>-50</integer>
		<key>@MMK_R_m</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_braceright</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_colon</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-110</integer>
		<key>@MMK_R_U</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_W</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-130</integer>
		<key>@MMK_R_backslash</key>
		<integer>-120</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_four</key>
		<integer>0</integer>
		<key>@MMK_R_question</key>
		<integer>-101</integer>
		<key>@MMK_R_seven</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-105</integer>
		<key>@MMK_R_w</key>
		<integer>-105</integer>
		<key>@MMK_R_zero</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>-13</integer>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_eight</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>20</integer>
		<key>@MMK_R_f</key>
		<integer>0</integer>
		<key>@MMK_R_question</key>
		<integer>50</integer>
		<key>@MMK_R_t</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_five</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_four</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-20</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>40</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>39</integer>
		<key>@MMK_R_y</key>
		<integer>20</integer>
		<key>@MMK_R_z</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_guillemotright</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_nine</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_one</key>
	<dict>
		<key>@MMK_R_eight</key>
		<integer>-20</integer>
		<key>@MMK_R_five</key>
		<integer>0</integer>
		<key>@MMK_R_four</key>
		<integer>0</integer>
		<key>@MMK_R_nine</key>
		<integer>-30</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>-90</integer>
		<key>@MMK_R_seven</key>
		<integer>-40</integer>
		<key>@MMK_R_six</key>
		<integer>-20</integer>
		<key>@MMK_R_three</key>
		<integer>-20</integer>
		<key>@MMK_R_zero</key>
		<integer>-30</integer>
		<key>seven</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_parenleft</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>50</integer>
		<key>hyphen</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-61</integer>
		<key>@MMK_R_j</key>
		<integer>30</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_question</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_quotedblleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-65</integer>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_c</key>
		<integer>-80</integer>
		<key>@MMK_R_four</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_i</key>
		<integer>-13</integer>
		<key>@MMK_R_j</key>
		<integer>-13</integer>
		<key>@MMK_R_m</key>
		<integer>-50</integer>
		<key>@MMK_R_one</key>
		<integer>30</integer>
		<key>@MMK_R_p</key>
		<integer>-50</integer>
		<key>@MMK_R_seven</key>
		<integer>20</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_seven</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_colon</key>
		<integer>-160</integer>
		<key>@MMK_R_four</key>
		<integer>-68</integer>
		<key>@MMK_R_quotedblleft</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_six</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_three</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_two</key>
	<dict>
		<key>@MMK_R_quotedblleft</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-61</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_c</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_c</key>
		<integer>-5</integer>
		<key>@MMK_R_colon</key>
		<integer>-76</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_zero</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-40</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-75</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>colon</key>
		<integer>-20</integer>
		<key>semicolon</key>
		<integer>-10</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>colon</key>
		<integer>-90</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>ellipsis</key>
		<integer>-120</integer>
		<key>period</key>
		<integer>-120</integer>
		<key>semicolon</key>
		<integer>-90</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>colon</key>
		<integer>-20</integer>
		<key>semicolon</key>
		<integer>-10</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>colon</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-130</integer>
		<key>ellipsis</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-130</integer>
		<key>semicolon</key>
		<integer>-50</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>colon</key>
		<integer>0</integer>
		<key>comma</key>
		<integer>0</integer>
		<key>ellipsis</key>
		<integer>0</integer>
		<key>period</key>
		<integer>0</integer>
		<key>semicolon</key>
		<integer>0</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>colon</key>
		<integer>-20</integer>
		<key>semicolon</key>
		<integer>-20</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>colon</key>
		<integer>-70</integer>
		<key>semicolon</key>
		<integer>-70</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>C</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>O</key>
		<integer>0</integer>
		<key>colon</key>
		<integer>-70</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>o</key>
		<integer>-70</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>v</key>
		<integer>-11</integer>
		<key>w</key>
		<integer>-11</integer>
		<key>y</key>
		<integer>-11</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>bracketright</key>
		<integer>52</integer>
		<key>comma</key>
		<integer>-11</integer>
		<key>period</key>
		<integer>-48</integer>
		<key>quotedblleft</key>
		<integer>72</integer>
		<key>quotedblright</key>
		<integer>82</integer>
		<key>quoteleft</key>
		<integer>72</integer>
		<key>quoteright</key>
		<integer>85</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>comma</key>
		<integer>34</integer>
		<key>period</key>
		<integer>9</integer>
		<key>quotedblleft</key>
		<integer>44</integer>
		<key>quoteleft</key>
		<integer>44</integer>
	</dict>
	<key>guillemetleft</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
	</dict>
	<key>guillemetright</key>
	<dict>
		<key>T</key>
		<integer>-87</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>v</key>
		<integer>-11</integer>
		<key>w</key>
		<integer>-11</integer>
		<key>y</key>
		<integer>-11</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>T</key>
		<integer>-58</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>l</key>
		<integer>-20</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>u</key>
		<integer>-6</integer>
		<key>v</key>
		<integer>-11</integer>
		<key>y</key>
		<integer>-11</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>j</key>
		<integer>0</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>colon</key>
		<integer>-20</integer>
		<key>semicolon</key>
		<integer>-20</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-31</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>comma</key>
		<integer>-72</integer>
		<key>period</key>
		<integer>-82</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>comma</key>
		<integer>-11</integer>
		<key>period</key>
		<integer>-16</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>D</key>
		<integer>0</integer>
		<key>F</key>
		<integer>0</integer>
		<key>O</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
		<key>guillemetright</key>
		<integer>0</integer>
		<key>m</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>w</key>
		<integer>0</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>f</key>
		<integer>0</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-105</integer>
		<key>period</key>
		<integer>-75</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-105</integer>
		<key>period</key>
		<integer>-75</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>colon</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
